@{ViewData["Title"] = "Details";
    <link href="~/styles/style.css" rel="stylesheet" />}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<h1>Szczegóły</h1>
<div>
    <ol>
        <li>Miejscowosc: @ViewBag.addressesDetails[0]</li>
        <li>Ulica: @ViewBag.addressesDetails[1]</li>
    </ol>
    <a>@Html.ActionLink("powrut", "Bindings", "Account")</a>
</div>
<div id="map-canvas" style="height: 500px; width: 500px">
</div>
<img src="favicon.ico" width="200" height="200"/>
<h2>Dodaj załącznik</h2>

@using (Html.BeginForm("AddAttachment", "Account", FormMethod.Post, new { @enctype = "multipart/form-data" })){
<form asp-controller="Account" asp-action="AddAttachment">
    <form action="AddAttachment" method="post">
            <label for="formFile">Wgraj z dysku:</label>
            <input type="file" name="formFile" id="file" />
            <br><br>
            <input type="submit" value="Zapisz" />
            <br><br>
            @ViewBag.Message
        </form>
    </form>
}
<script src="~/js/googleMap.js"></script>
<script src="~/js/GetInput.js"></script>

@*@using (Html("ReadAttachment", "Account", FormMethod.Get, new { @enctype = "multipart/form-data" })){
<form asp-controller="Account" asp-action="ReadAttachment">
<div>
    <table>
        <tr>
            <th>File Name</th>
            <th></th>
        </tr>
            @foreach (AccountController file in Model)
        {
            <tr>
                <td>@file.FileName</td>
                <td>@Html.ActionLink("Download", "DownloadFile", new { fileName = file.FileName })</td>
            </tr>
        }
    </table>
</div>*@